In [1]:
from pyspark.sql import SparkSession
spark = (SparkSession.\
         builder.\
         appName("Sorting and Agregation").\
         master("local[*]").\
         getOrCreate()
        )

25/05/20 09:53:22 WARN Utils: Your hostname, oem-Lenovo-G50-80 resolves to a loopback address: 127.0.1.1; using 192.168.0.121 instead (on interface wlp3s0)
25/05/20 09:53:22 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/20 09:53:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/05/20 09:53:25 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
spark

In [3]:
emp_data = [
    ["001", "101", "Jane Smith", "25", "Female", "45000", "2016-02-15"],
    ["002", "102", "Bob Brown", "35", "Male", "55000", "2014-01-10"],
    ["003", "101", "Alice Lee", "30", "Female", "48000", "2018-05-21"],
    ["004", "103", "Jack Chang", "40", "Male", "60000", "2013-04-01"],
    ["005", "102", "Jill Wong", "28", "Female", "50000", "2017-01-05"],
    ["006", "101", "James Hong", "34", "Male", "52000", "2016-07-15"],
    ["007", "102", "Kate Kim", "29", "Female", "51000", "2019-08-01"],
    ["008", "103", "Tom Tan", "36", "Male", "58000", "2015-12-01"],
    ["009", "101", "Lisa Lee", "27", "Female", "47000", "2017-11-01"],
    ["010", "104", "David Park", "38", "Male", "59000", "2014-06-01"],
    ["011", "105", "Susan Chen", "33", "Female", "56000", "2016-03-01"],
    ["012", "103", "Brian Kim", "41", "Male", "60000", "2012-09-01"],
    ["013", "107", "Emily Lee", "32", "Female", "46000", "2019-04-01"],
    ["014", "106", "Michael Lee", "29", "Male", "53000", "2018-01-01"],
    ["015", "108", "Kelly Zhang", "31", "Female", "54000", "2017-06-01"],
    ["016", "109", "George Wang", "35", "Male", "57000", "2015-03-01"],
    ["017", "108", "Nancy Liu", "28", "Female", "52000", "2020-05-01"],
    ["019", "107", "Steven Chen", "30", "Male", "55000", "2018-03-01"],
    ["020", "102", "Grace Kim", "32", "Female", "53000", "2018-11-01"]
]
emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [4]:
emp_data

[['001', '101', 'Jane Smith', '25', 'Female', '45000', '2016-02-15'],
 ['002', '102', 'Bob Brown', '35', 'Male', '55000', '2014-01-10'],
 ['003', '101', 'Alice Lee', '30', 'Female', '48000', '2018-05-21'],
 ['004', '103', 'Jack Chang', '40', 'Male', '60000', '2013-04-01'],
 ['005', '102', 'Jill Wong', '28', 'Female', '50000', '2017-01-05'],
 ['006', '101', 'James Hong', '34', 'Male', '52000', '2016-07-15'],
 ['007', '102', 'Kate Kim', '29', 'Female', '51000', '2019-08-01'],
 ['008', '103', 'Tom Tan', '36', 'Male', '58000', '2015-12-01'],
 ['009', '101', 'Lisa Lee', '27', 'Female', '47000', '2017-11-01'],
 ['010', '104', 'David Park', '38', 'Male', '59000', '2014-06-01'],
 ['011', '105', 'Susan Chen', '33', 'Female', '56000', '2016-03-01'],
 ['012', '103', 'Brian Kim', '41', 'Male', '60000', '2012-09-01'],
 ['013', '107', 'Emily Lee', '32', 'Female', '46000', '2019-04-01'],
 ['014', '106', 'Michael Lee', '29', 'Male', '53000', '2018-01-01'],
 ['015', '108', 'Kelly Zhang', '31', 'Female', '54000', '2017-06-01'],
 ['016', '109', 'George Wang', '35', 'Male', '57000', '2015-03-01'],
 ['017', '108', 'Nancy Liu', '28', 'Female', '52000', '2020-05-01'],
 ['019', '107', 'Steven Chen', '30', 'Male', '55000', '2018-03-01'],
 ['020', '102', 'Grace Kim', '32', 'Female', '53000', '2018-11-01']]

In [5]:
dept_data = [
    ["101", "Sales", "NYC", "US", "1000000"],
    ["102", "Marketing", "LA", "US", "1200000"],
    ["103", "Finance", "London", "UK", "1300000"],
    ["104", "Engineering", "Beijing", "China", "1500000"],
    ["105", "Human Resources", "Tokyo", "Japan", "800000"],
    ["106", "Research and Development", "Perth", "Australia", "1100000"],
    ["107", "Customer Service", "Sydney", "Australia", "950000"]
]

In [6]:
dept_schema = "department_id string, department_name string, city string, country string, budget string"

In [7]:
dept_schema

'department_id string, department_name string, city string, country string, budget string'

In [8]:
emp = spark.createDataFrame(data=emp_data, schema=emp_schema)
dept = spark.createDataFrame(data=dept_data, schema=dept_schema)

In [9]:
emp.printSchema()
dept.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

root
 |-- department_id: string (nullable = true)
 |-- department_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- budget: string (nullable = true)

In [10]:
emp.show()
dept.show()

+-----------+-------------+-----------+---+------+------+----------+
|employee_id|department_id|       name|age|gender|salary| hire_date|
+-----------+-------------+-----------+---+------+------+----------+
|        001|          101| Jane Smith| 25|Female| 45000|2016-02-15|
|        002|          102|  Bob Brown| 35|  Male| 55000|2014-01-10|
|        003|          101|  Alice Lee| 30|Female| 48000|2018-05-21|
|        004|          103| Jack Chang| 40|  Male| 60000|2013-04-01|
|        005|          102|  Jill Wong| 28|Female| 50000|2017-01-05|
|        006|          101| James Hong| 34|  Male| 52000|2016-07-15|
|        007|          102|   Kate Kim| 29|Female| 51000|2019-08-01|
|        008|          103|    Tom Tan| 36|  Male| 58000|2015-12-01|
|        009|          101|   Lisa Lee| 27|Female| 47000|2017-11-01|
|        010|          104| David Park| 38|  Male| 59000|2014-06-01|
|        011|          105| Susan Chen| 33|Female| 56000|2016-03-01|
|        012|          103|  Brian Kim| 41|  Male| 60000|2012-09-01|
|        013|          107|  Emily Lee| 32|Female| 46000|2019-04-01|
|        014|          106|Michael Lee| 29|  Male| 53000|2018-01-01|
|        015|          108|Kelly Zhang| 31|Female| 54000|2017-06-01|
|        016|          109|George Wang| 35|  Male| 57000|2015-03-01|
|        017|          108|  Nancy Liu| 28|Female| 52000|2020-05-01|
|        019|          107|Steven Chen| 30|  Male| 55000|2018-03-01|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-----------+---+------+------+----------+

+-------------+--------------------+-------+---------+-------+
|department_id|     department_name|   city|  country| budget|
+-------------+--------------------+-------+---------+-------+
|          101|               Sales|    NYC|       US|1000000|
|          102|           Marketing|     LA|       US|1200000|
|          103|             Finance| London|       UK|1300000|
|          104|         Engineering|Beijing|    China|1500000|
|          105|     Human Resources|  Tokyo|    Japan| 800000|
|          106|Research and Deve...|  Perth|Australia|1100000|
|          107|    Customer Service| Sydney|Australia| 950000|
+-------------+--------------------+-------+---------+-------+

In [11]:
emp.rdd.getNumPartitions()

4

In [12]:
dept.rdd.getNumPartitions()

4

In [13]:


emp_partitoned = emp.repartition(10)

In [14]:
emp_partitoned.rdd.getNumPartitions()

10

In [15]:

emp_partitoned = emp.repartition(4)

In [16]:
emp_partitoned.rdd.getNumPartitions()

4

In [17]:
emp_partitoned = emp.coalesce(5)

In [18]:
emp_partitoned.rdd.getNumPartitions()

4

In [19]:
emp_partitoned = emp.coalesce(2)

In [20]:
emp_partitoned.rdd.getNumPartitions()

2

In [21]:

emp_partitoned = emp.repartition(2,"department_id")

In [22]:
emp_partitoned.rdd.getNumPartitions()

2

In [23]:
#find the partitions info  for partition and repartition

from pyspark.sql.functions import spark_partition_id
emp1 = emp.repartition(4,"department_id").withColumn("Partition No", spark_partition_id())
emp1.show()

+-----------+-------------+-----------+---+------+------+----------+------------+
|employee_id|department_id|       name|age|gender|salary| hire_date|Partition No|
+-----------+-------------+-----------+---+------+------+----------+------------+
|        002|          102|  Bob Brown| 35|  Male| 55000|2014-01-10|           0|
|        005|          102|  Jill Wong| 28|Female| 50000|2017-01-05|           0|
|        007|          102|   Kate Kim| 29|Female| 51000|2019-08-01|           0|
|        013|          107|  Emily Lee| 32|Female| 46000|2019-04-01|           0|
|        019|          107|Steven Chen| 30|  Male| 55000|2018-03-01|           0|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|           0|
|        011|          105| Susan Chen| 33|Female| 56000|2016-03-01|           1|
|        016|          109|George Wang| 35|  Male| 57000|2015-03-01|           1|
|        010|          104| David Park| 38|  Male| 59000|2014-06-01|           2|
|        014|          106|Michael Lee| 29|  Male| 53000|2018-01-01|           2|
|        001|          101| Jane Smith| 25|Female| 45000|2016-02-15|           3|
|        003|          101|  Alice Lee| 30|Female| 48000|2018-05-21|           3|
|        004|          103| Jack Chang| 40|  Male| 60000|2013-04-01|           3|
|        006|          101| James Hong| 34|  Male| 52000|2016-07-15|           3|
|        008|          103|    Tom Tan| 36|  Male| 58000|2015-12-01|           3|
|        009|          101|   Lisa Lee| 27|Female| 47000|2017-11-01|           3|
|        012|          103|  Brian Kim| 41|  Male| 60000|2012-09-01|           3|
|        015|          108|Kelly Zhang| 31|Female| 54000|2017-06-01|           3|
|        017|          108|  Nancy Liu| 28|Female| 52000|2020-05-01|           3|
+-----------+-------------+-----------+---+------+------+----------+------------+

In [24]:
#JOINS in pyspark

# SELECT e.emp_id, d.dept_id from employee as e inner join department as d on e.dept_id = d.dept_id where salary > 50000;

df_joined = emp.join(dept,how = "inner", on = emp.department_id == dept.department_id)
df_joined

DataFrame[employee_id: string, department_id: string, name: string, age: string, gender: string, salary: string, hire_date: string, department_id: string, department_name: string, city: string, country: string, budget: string]

In [25]:
df_joined.select(emp.employee_id,emp.name,dept.department_id,dept.department_name,emp.salary).where("salary > 45000").show()

+-----------+-----------+-------------+--------------------+------+
|employee_id|       name|department_id|     department_name|salary|
+-----------+-----------+-------------+--------------------+------+
|        003|  Alice Lee|          101|               Sales| 48000|
|        006| James Hong|          101|               Sales| 52000|
|        009|   Lisa Lee|          101|               Sales| 47000|
|        002|  Bob Brown|          102|           Marketing| 55000|
|        005|  Jill Wong|          102|           Marketing| 50000|
|        007|   Kate Kim|          102|           Marketing| 51000|
|        020|  Grace Kim|          102|           Marketing| 53000|
|        004| Jack Chang|          103|             Finance| 60000|
|        008|    Tom Tan|          103|             Finance| 58000|
|        012|  Brian Kim|          103|             Finance| 60000|
|        010| David Park|          104|         Engineering| 59000|
|        011| Susan Chen|          105|     Human Resources| 56000|
|        014|Michael Lee|          106|Research and Deve...| 53000|
|        013|  Emily Lee|          107|    Customer Service| 46000|
|        019|Steven Chen|          107|    Customer Service| 55000|
+-----------+-----------+-------------+--------------------+------+

In [27]:
df_joined1 = emp.alias("e").join(dept.alias("d"),how = "inner", on = emp.department_id == dept.department_id)
df_joined1

DataFrame[employee_id: string, department_id: string, name: string, age: string, gender: string, salary: string, hire_date: string, department_id: string, department_name: string, city: string, country: string, budget: string]

In [28]:
df_joined1.select("e.employee_id",emp.name,dept.department_id,dept.department_name,emp.salary).where("salary > 45000").show()

+-----------+-----------+-------------+--------------------+------+
|employee_id|       name|department_id|     department_name|salary|
+-----------+-----------+-------------+--------------------+------+
|        003|  Alice Lee|          101|               Sales| 48000|
|        006| James Hong|          101|               Sales| 52000|
|        009|   Lisa Lee|          101|               Sales| 47000|
|        002|  Bob Brown|          102|           Marketing| 55000|
|        005|  Jill Wong|          102|           Marketing| 50000|
|        007|   Kate Kim|          102|           Marketing| 51000|
|        020|  Grace Kim|          102|           Marketing| 53000|
|        004| Jack Chang|          103|             Finance| 60000|
|        008|    Tom Tan|          103|             Finance| 58000|
|        012|  Brian Kim|          103|             Finance| 60000|
|        010| David Park|          104|         Engineering| 59000|
|        011| Susan Chen|          105|     Human Resources| 56000|
|        014|Michael Lee|          106|Research and Deve...| 53000|
|        013|  Emily Lee|          107|    Customer Service| 46000|
|        019|Steven Chen|          107|    Customer Service| 55000|
+-----------+-----------+-------------+--------------------+------+

In [31]:
df_joined_left_outer = emp.alias("e").join(dept.alias("d"),how = "left_outer", on = emp.department_id == dept.department_id)
df_joined_left_outer

DataFrame[employee_id: string, department_id: string, name: string, age: string, gender: string, salary: string, hire_date: string, department_id: string, department_name: string, city: string, country: string, budget: string]

In [32]:
df_joined_left_outer.select("e.employee_id",emp.name,dept.department_id,dept.department_name,emp.salary).where("salary > 45000").show()

+-----------+-----------+-------------+--------------------+------+
|employee_id|       name|department_id|     department_name|salary|
+-----------+-----------+-------------+--------------------+------+
|        003|  Alice Lee|          101|               Sales| 48000|
|        002|  Bob Brown|          102|           Marketing| 55000|
|        004| Jack Chang|          103|             Finance| 60000|
|        006| James Hong|          101|               Sales| 52000|
|        005|  Jill Wong|          102|           Marketing| 50000|
|        007|   Kate Kim|          102|           Marketing| 51000|
|        008|    Tom Tan|          103|             Finance| 58000|
|        009|   Lisa Lee|          101|               Sales| 47000|
|        010| David Park|          104|         Engineering| 59000|
|        012|  Brian Kim|          103|             Finance| 60000|
|        011| Susan Chen|          105|     Human Resources| 56000|
|        013|  Emily Lee|          107|    Customer Service| 46000|
|        019|Steven Chen|          107|    Customer Service| 55000|
|        020|  Grace Kim|          102|           Marketing| 53000|
|        015|Kelly Zhang|         NULL|                NULL| 54000|
|        017|  Nancy Liu|         NULL|                NULL| 52000|
|        014|Michael Lee|          106|Research and Deve...| 53000|
|        016|George Wang|         NULL|                NULL| 57000|
+-----------+-----------+-------------+--------------------+------+

In [40]:
#casading join conditions

df_joined_left = emp.alias("e").join(dept,how = "left_outer", on = (emp.department_id == dept.department_id) & ((emp.department_id == "101") | (emp.department_id == "102"))
                                     & (emp.salary.isNotNull()))
df_joined_left

DataFrame[employee_id: string, department_id: string, name: string, age: string, gender: string, salary: string, hire_date: string, department_id: string, department_name: string, city: string, country: string, budget: string]

In [41]:
df_joined_left.show()

+-----------+-------------+-----------+---+------+------+----------+-------------+---------------+----+-------+-------+
|employee_id|department_id|       name|age|gender|salary| hire_date|department_id|department_name|city|country| budget|
+-----------+-------------+-----------+---+------+------+----------+-------------+---------------+----+-------+-------+
|        001|          101| Jane Smith| 25|Female| 45000|2016-02-15|          101|          Sales| NYC|     US|1000000|
|        003|          101|  Alice Lee| 30|Female| 48000|2018-05-21|          101|          Sales| NYC|     US|1000000|
|        002|          102|  Bob Brown| 35|  Male| 55000|2014-01-10|          102|      Marketing|  LA|     US|1200000|
|        004|          103| Jack Chang| 40|  Male| 60000|2013-04-01|         NULL|           NULL|NULL|   NULL|   NULL|
|        006|          101| James Hong| 34|  Male| 52000|2016-07-15|          101|          Sales| NYC|     US|1000000|
|        005|          102|  Jill Wong| 28|Female| 50000|2017-01-05|          102|      Marketing|  LA|     US|1200000|
|        007|          102|   Kate Kim| 29|Female| 51000|2019-08-01|          102|      Marketing|  LA|     US|1200000|
|        008|          103|    Tom Tan| 36|  Male| 58000|2015-12-01|         NULL|           NULL|NULL|   NULL|   NULL|
|        009|          101|   Lisa Lee| 27|Female| 47000|2017-11-01|          101|          Sales| NYC|     US|1000000|
|        010|          104| David Park| 38|  Male| 59000|2014-06-01|         NULL|           NULL|NULL|   NULL|   NULL|
|        012|          103|  Brian Kim| 41|  Male| 60000|2012-09-01|         NULL|           NULL|NULL|   NULL|   NULL|
|        011|          105| Susan Chen| 33|Female| 56000|2016-03-01|         NULL|           NULL|NULL|   NULL|   NULL|
|        013|          107|  Emily Lee| 32|Female| 46000|2019-04-01|         NULL|           NULL|NULL|   NULL|   NULL|
|        019|          107|Steven Chen| 30|  Male| 55000|2018-03-01|         NULL|           NULL|NULL|   NULL|   NULL|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|          102|      Marketing|  LA|     US|1200000|
|        015|          108|Kelly Zhang| 31|Female| 54000|2017-06-01|         NULL|           NULL|NULL|   NULL|   NULL|
|        017|          108|  Nancy Liu| 28|Female| 52000|2020-05-01|         NULL|           NULL|NULL|   NULL|   NULL|
|        014|          106|Michael Lee| 29|  Male| 53000|2018-01-01|         NULL|           NULL|NULL|   NULL|   NULL|
|        016|          109|George Wang| 35|  Male| 57000|2015-03-01|         NULL|           NULL|NULL|   NULL|   NULL|
+-----------+-------------+-----------+---+------+------+----------+-------------+---------------+----+-------+-------+

In [42]:
#casading join conditions

df_joined_left1 = emp.alias("e").join(dept,how = "left_outer", on = (emp.department_id == dept.department_id) & ((emp.department_id == "101") | (emp.department_id == "102"))
                                     & (emp.salary.isNull()))
df_joined_left1

DataFrame[employee_id: string, department_id: string, name: string, age: string, gender: string, salary: string, hire_date: string, department_id: string, department_name: string, city: string, country: string, budget: string]

In [43]:
df_joined_left1.show()

+-----------+-------------+-----------+---+------+------+----------+-------------+---------------+----+-------+------+
|employee_id|department_id|       name|age|gender|salary| hire_date|department_id|department_name|city|country|budget|
+-----------+-------------+-----------+---+------+------+----------+-------------+---------------+----+-------+------+
|        001|          101| Jane Smith| 25|Female| 45000|2016-02-15|         NULL|           NULL|NULL|   NULL|  NULL|
|        003|          101|  Alice Lee| 30|Female| 48000|2018-05-21|         NULL|           NULL|NULL|   NULL|  NULL|
|        002|          102|  Bob Brown| 35|  Male| 55000|2014-01-10|         NULL|           NULL|NULL|   NULL|  NULL|
|        004|          103| Jack Chang| 40|  Male| 60000|2013-04-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        006|          101| James Hong| 34|  Male| 52000|2016-07-15|         NULL|           NULL|NULL|   NULL|  NULL|
|        005|          102|  Jill Wong| 28|Female| 50000|2017-01-05|         NULL|           NULL|NULL|   NULL|  NULL|
|        007|          102|   Kate Kim| 29|Female| 51000|2019-08-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        008|          103|    Tom Tan| 36|  Male| 58000|2015-12-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        009|          101|   Lisa Lee| 27|Female| 47000|2017-11-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        010|          104| David Park| 38|  Male| 59000|2014-06-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        012|          103|  Brian Kim| 41|  Male| 60000|2012-09-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        011|          105| Susan Chen| 33|Female| 56000|2016-03-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        013|          107|  Emily Lee| 32|Female| 46000|2019-04-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        019|          107|Steven Chen| 30|  Male| 55000|2018-03-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        015|          108|Kelly Zhang| 31|Female| 54000|2017-06-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        017|          108|  Nancy Liu| 28|Female| 52000|2020-05-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        014|          106|Michael Lee| 29|  Male| 53000|2018-01-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        016|          109|George Wang| 35|  Male| 57000|2015-03-01|         NULL|           NULL|NULL|   NULL|  NULL|
+-----------+-------------+-----------+---+------+------+----------+-------------+---------------+----+-------+------+