In [1]:
from pyspark.sql import SparkSession
spark = (SparkSession.\
         builder.\
         appName("Sorting and Agregation").\
         master("local[*]").\
         getOrCreate()
        )

25/05/20 09:53:10 WARN Utils: Your hostname, oem-Lenovo-G50-80 resolves to a loopback address: 127.0.1.1; using 192.168.0.121 instead (on interface wlp3s0)
25/05/20 09:53:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/20 09:53:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

In [3]:
emp_data_1 = [
    ["001", "101", "John Doe", "30", "Male", "50000", "2015-01-01"],
    ["002", "101", "Jane Smith", "25", "Female", "45000", "2016-02-15"],
    ["003", "101", "Bob Brown", "35", "Male", "55000", "2014-01-10"],
    ["004", "101", "Alice Lee", "29", "Female", "48000", "2013-04-01"],
    ["005", "102", "Jack Chan", "40", "Male", "60000", "2013-04-01"],
    ["006", "102", "Jill Wong", "32", "Female", "52000", "2018-07-01"],
    ["007", "102", "James Johnson", "42", "Male", "70000", "2012-03-15"],
    ["008", "102", "Kate Kim", "29", "Female", "51000", "2019-10-01"],
    ["009", "103", "Tom Tan", "34", "Male", "50000", "2016-06-01"],
    ["010", "103", "Lisa Lee", "27", "Female", "47000", "2018-08-01"]
]


emp_data_2 = [
    ["011", "104", "David Park", "38", "Male", "65000", "2015-11-01"],
    ["012", "105", "Susan Chen", "31", "Female", "54000", "2017-02-15"],
    ["013", "106", "Brian Lim", "45", "Male", "75000", "2011-09-01"],
    ["014", "106", "Emily Lee", "28", "Female", "53000", "2017-03-01"],
    ["015", "106", "Michael Kee", "36", "Male", "62000", "2014-06-01"],
    ["016", "107", "Kelly Zhang", "29", "Female", "49000", "2018-04-01"],
    ["017", "108", "George Wang", "34", "Male", "60000", "2015-03-01"],
    ["018", "108", "Nancy Liu", "30", "Female", "52000", "2016-01-01"],
    ["019", "109", "Steven Chen", "37", "Male", "62000", "2015-08-01"],
    ["020", "102", "Grace Kim", "32", "Female", "53000", "2018-11-01"]
]

In [4]:
emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [5]:
emp_schema

'employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string'

In [6]:
emp1.printSchema()

NameError: name 'emp1' is not defined

In [ ]:
#create dataframes

emp1 = spark.createDataFrame(data = emp_data_1, schema=emp_schema)
emp2 = spark.createDataFrame(data = emp_data_2, schema=emp_schema)

In [ ]:
emp1.printSchema()

In [ ]:
emp2.printSchema()

In [ ]:
#union an dunionall   #same schema
#union : unique or dstinct records 
#same schema but diffrent column sequence still we can do union of it
emp_final = emp1.union(emp2)

In [ ]:
emp_final.show()

In [ ]:
#union all
#keepa duplicates 
#deprecated
emp_final1 = emp1.unionAll(emp2)

In [ ]:
emp_final1.show()

In [ ]:
#sort by dec saalry and order by slary
from pyspark.sql.functions import col, asc,desc
emp_sorted = emp_final.orderBy(col("salary").desc())

In [ ]:
emp_sorted.show()

In [ ]:
#sort by dec saalry and order by slary
from pyspark.sql.functions import col, asc,desc
emp_sorted_asc = emp_final.orderBy(col("salary").asc())

In [ ]:
emp_sorted_asc.show()

In [ ]:
#Aggregation

#select count of no of emplyees in each dept and grpup by deptid

from pyspark.sql.functions import col, count

emp_count = emp_final.groupby(col("department_id")).agg(count("employee_id").alias("No of Employee"))

In [ ]:
emp_count.show()

In [ ]:
#Aggregation

#select sum of salry as per dept emplyees in each dept and grpup by deptid

from pyspark.sql.functions import col, count, sum

emp_sum = emp_final.groupby("department_id").agg(sum("salary").alias("Total salary"))

In [ ]:
emp_sum.show()

In [ ]:
#Aggregation

#select avg of salry as per dept emplyees in each dept and grpup by deptid

from pyspark.sql.functions import avg

emp_avg = emp_final.groupby("department_id").agg(avg("salary").alias("Avrage alary"))

In [ ]:
emp_avg.show()

In [ ]:
#Aggregation

#select minimum and maximum of salry as per dept emplyees in each dept and grpup by deptid

from pyspark.sql.functions import min,max

emp_min = emp_final.groupby("department_id").agg(min("salary").alias("Minimum salary"))

emp_max = emp_final.groupby("department_id").agg(max("salary").alias("Maximum salary"))

In [ ]:
emp_min.show()
emp_max.show()

In [ ]:
#Aggregation

#select avg of salry as per dept emplyees in each dept and grpup by deptid and having salry > 50000

from pyspark.sql.functions import avg

emp_avg_gt_50000 = emp_final.groupby("department_id").agg(avg("salary").alias("Avrage_salary")).where("Avrage_salary > 50000")

In [ ]:
emp_avg_gt_50000.show()

In [ ]:
emp_data_2_other = emp2.select(
    "employee_id", 
    "salary", 
    "department_id", 
    "name", 
    "hire_date", 
    "gender", 
    "age"
)

In [ ]:
emp1.printSchema()
emp_data_2_other.printSchema()

In [ ]:
emp_union_by_name  = emp1.unionByName(emp_data_2_other)

In [ ]:
emp_union_by_name.printSchema()

In [ ]:
emp2.count()