In [25]:
from pyspark.sql import SparkSession
spark = (SparkSession.\
         builder.\
         appName("Data caching").\
         master("local[*]").\
         config("spark.executor.memory","512M").\
         config("spark.executor.memory", "2G").\
         config("spark.network.timeout", "600s").\
         getOrCreate()
        )
spark

spark.sparkContext.setLogLevel("ERROR")

In [26]:
#read cvs data
emp_schema = """
employee_id INT,
department_id STRING,
name STRING,
age INT,
gender STRING,
salary STRING,
hire_date STRING
"""

df = spark.read.format("csv").schema(emp_schema).option("header", True).load("data/input/emp_data.csv")

In [27]:
df = spark.read.option("header", True).csv("data/input/emp_data.csv")
df.printSchema()
df.show()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-01-10|
|        004|          101|    Alice Lee| 30|Female| 48000|2018-05-21|
|        005|          103|    Jack Chan| 40|  Male|   Low|2013-04-01|
|        006|          102|    Jill Wong| 28|Female| 50000|    nodate|
|        007|          103|James Johnson| 34|  Male| 52000|2016-07-15|
|        008|          102|     Kate Kim| 29|Female|   Low|    nodate|
|        009|          103|      Tom Tan| 36|  Male| 58000|2015-12-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2017-11-01|
|        011|          105|   David Park| 38|  Male| 59000|    nodate|
|        012|          103|   Susan Chen| 33|Female| 56000|2016-03-01|
|        013|          103|    Brian Doe| 41|  Male|   Low|2012-09-01|
|        014|          107|    Emily Lee| 32|Female| 46000|2019-04-01|
|        015|          106|  Michael Lee| 29|  Male| 53000|2018-01-01|
|        016|          108|  Kelly Zhang| 31|Female| 54000|2017-06-01|
|        017|          109|  George Wang| 35|  Male| 57000|2015-03-01|
|        018|          108|    Nancy Liu| 28|Female| 52000|    nodate|
|        019|          107|  Steven Chen| 30|  Male|   Low|2018-03-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [13]:
!ls data/input/emp_data.csv

data/input/emp_data.csv

In [28]:
df = spark.read.option("header", True).csv("data/input/emp_data.csv")
df.show()
spark.sparkContext.setLogLevel("ERROR")

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-01-10|
|        004|          101|    Alice Lee| 30|Female| 48000|2018-05-21|
|        005|          103|    Jack Chan| 40|  Male|   Low|2013-04-01|
|        006|          102|    Jill Wong| 28|Female| 50000|    nodate|
|        007|          103|James Johnson| 34|  Male| 52000|2016-07-15|
|        008|          102|     Kate Kim| 29|Female|   Low|    nodate|
|        009|          103|      Tom Tan| 36|  Male| 58000|2015-12-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2017-11-01|
|        011|          105|   David Park| 38|  Male| 59000|    nodate|
|        012|          103|   Susan Chen| 33|Female| 56000|2016-03-01|
|        013|          103|    Brian Doe| 41|  Male|   Low|2012-09-01|
|        014|          107|    Emily Lee| 32|Female| 46000|2019-04-01|
|        015|          106|  Michael Lee| 29|  Male| 53000|2018-01-01|
|        016|          108|  Kelly Zhang| 31|Female| 54000|2017-06-01|
|        017|          109|  George Wang| 35|  Male| 57000|2015-03-01|
|        018|          108|    Nancy Liu| 28|Female| 52000|    nodate|
|        019|          107|  Steven Chen| 30|  Male|   Low|2018-03-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [20]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7175fffa0550>

In [29]:
with open("data/input/emp_data.csv", "r") as f:
    for i in range(5):
        print(f.readline())

employee_id,department_id,name,age,gender,salary,hire_date

001,101,John Doe,30,Male,50000,2015-01-01

002,101,Jane Smith,25,Female,45000,2016-02-15

003,102,Bob Brown,35,Male,55000,2014-01-10

004,101,Alice Lee,30,Female,48000,2018-05-21

In [22]:
!java -version

openjdk version "11.0.27" 2025-04-15
OpenJDK Runtime Environment (build 11.0.27+6-post-Ubuntu-0ubuntu122.04)
OpenJDK 64-Bit Server VM (build 11.0.27+6-post-Ubuntu-0ubuntu122.04, mixed mode, sharing)

In [23]:
import pyspark
print(pyspark.__version__)

3.5.5

In [31]:
df.where("salary > 50000").show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-01-10|
|        007|          103|James Johnson| 34|  Male| 52000|2016-07-15|
|        009|          103|      Tom Tan| 36|  Male| 58000|2015-12-01|
|        011|          105|   David Park| 38|  Male| 59000|    nodate|
|        012|          103|   Susan Chen| 33|Female| 56000|2016-03-01|
|        015|          106|  Michael Lee| 29|  Male| 53000|2018-01-01|
|        016|          108|  Kelly Zhang| 31|Female| 54000|2017-06-01|
|        017|          109|  George Wang| 35|  Male| 57000|2015-03-01|
|        018|          108|    Nancy Liu| 28|Female| 52000|    nodate|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [32]:
df.cache()

# we need to use count tor write

DataFrame[employee_id: string, department_id: string, name: string, age: string, gender: string, salary: string, hire_date: string]

In [33]:
df.cache().count()

20

In [34]:
df.where("salary > 50000").show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-01-10|
|        007|          103|James Johnson| 34|  Male| 52000|2016-07-15|
|        009|          103|      Tom Tan| 36|  Male| 58000|2015-12-01|
|        011|          105|   David Park| 38|  Male| 59000|    nodate|
|        012|          103|   Susan Chen| 33|Female| 56000|2016-03-01|
|        015|          106|  Michael Lee| 29|  Male| 53000|2018-01-01|
|        016|          108|  Kelly Zhang| 31|Female| 54000|2017-06-01|
|        017|          109|  George Wang| 35|  Male| 57000|2015-03-01|
|        018|          108|    Nancy Liu| 28|Female| 52000|    nodate|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [35]:
df.unpersist()

DataFrame[employee_id: string, department_id: string, name: string, age: string, gender: string, salary: string, hire_date: string]

In [36]:
df_cache = df.cache()

In [37]:
df_cache.count()

20

In [47]:
df.where("salary > 50000").show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-01-10|
|        007|          103|James Johnson| 34|  Male| 52000|2016-07-15|
|        009|          103|      Tom Tan| 36|  Male| 58000|2015-12-01|
|        011|          105|   David Park| 38|  Male| 59000|    nodate|
|        012|          103|   Susan Chen| 33|Female| 56000|2016-03-01|
|        015|          106|  Michael Lee| 29|  Male| 53000|2018-01-01|
|        016|          108|  Kelly Zhang| 31|Female| 54000|2017-06-01|
|        017|          109|  George Wang| 35|  Male| 57000|2015-03-01|
|        018|          108|    Nancy Liu| 28|Female| 52000|    nodate|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [46]:
df_cache.where("salary > 55000").show()

+-----------+-------------+-----------+---+------+------+----------+
|employee_id|department_id|       name|age|gender|salary| hire_date|
+-----------+-------------+-----------+---+------+------+----------+
|        009|          103|    Tom Tan| 36|  Male| 58000|2015-12-01|
|        011|          105| David Park| 38|  Male| 59000|    nodate|
|        012|          103| Susan Chen| 33|Female| 56000|2016-03-01|
|        017|          109|George Wang| 35|  Male| 57000|2015-03-01|
+-----------+-------------+-----------+---+------+------+----------+

In [40]:
spark

In [ ]:
#diffrent storage levels in cahching
# Common Storage Levels in PySpark
Storage Level	Description
MEMORY_ONLY	Default. Stores RDD in JVM memory. Recomputes if not enough memory.
MEMORY_AND_DISK	Stores in memory if possible, spills to disk if not enough memory.
MEMORY_ONLY_SER	Stores serialized data in memory. More space-efficient than MEMORY_ONLY.
MEMORY_AND_DISK_SER	Stores serialized data in memory/disk.
DISK_ONLY	Stores data only on disk. No memory used.
MEMORY_ONLY_2	Same as MEMORY_ONLY, but replicated on 2 nodes.
MEMORY_AND_DISK_2	Same as MEMORY_AND_DISK, but replicated.
OFF_HEAP (experimental)	Stores in off-heap memory (requires extra config).