In [1]:
from pyspark.sql import SparkSession
spark = (SparkSession.\
         builder.\
         appName("Reading CSV").\
         master("local[*]").\
         getOrCreate ()
        )

25/05/20 11:21:39 WARN Utils: Your hostname, oem-Lenovo-G50-80 resolves to a loopback address: 127.0.1.1; using 172.18.0.1 instead (on interface br-dbb40503f1bc)
25/05/20 11:21:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/20 11:21:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/05/20 11:21:42 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/05/20 11:21:42 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
spark

In [3]:
#read a CSV file

df = spark.read.format("csv").load("data/input/employee_data.csv")

In [4]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

In [5]:
#read a CSV file along with header

df_header = spark.read.format("csv").option("header", True).load("data/input/employee_data.csv")

In [6]:
df_header.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [7]:
#read a CSV file along with header

df_header_with_inferSchema = spark.read.format("csv").option("header", True).option("inferSchema", True).load("data/input/employee_data.csv")

In [8]:
df_header_with_inferSchema.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- hire_date: date (nullable = true)

In [10]:
df_header_with_inferSchema.show()

+-----------+-------------+-----------+---+------+------+----------+
|employee_id|department_id|       name|age|gender|salary| hire_date|
+-----------+-------------+-----------+---+------+------+----------+
|          1|          101| Jane Smith| 25|Female| 45000|2016-02-15|
|          2|          102|  Bob Brown| 35|  Male| 55000|2014-01-10|
|          3|          101|  Alice Lee| 30|Female| 48000|2018-05-21|
|          4|          103| Jack Chang| 40|  Male| 60000|2013-04-01|
|          5|          102|  Jill Wong| 28|Female| 50000|2017-01-05|
|          6|          101| James Hong| 34|  Male| 52000|2016-07-15|
|          7|          102|   Kate Kim| 29|Female| 51000|2019-08-01|
|          8|          103|    Tom Tan| 36|  Male| 58000|2015-12-01|
|          9|          101|   Lisa Lee| 27|Female| 47000|2017-11-01|
|         10|          104| David Park| 38|  Male| 59000|2014-06-01|
|         11|          105| Susan Chen| 33|Female| 56000|2016-03-01|
|         12|          103|  Brian Kim| 41|  Male| 60000|2012-09-01|
|         13|          107|  Emily Lee| 32|Female| 46000|2019-04-01|
|         14|          106|Michael Lee| 29|  Male| 53000|2018-01-01|
|         15|          108|Kelly Zhang| 31|Female| 54000|2017-06-01|
|         16|          109|George Wang| 35|  Male| 57000|2015-03-01|
|         17|          108|  Nancy Liu| 28|Female| 52000|2020-05-01|
|         19|          107|Steven Chen| 30|  Male| 55000|2018-03-01|
|         20|          102|  Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-----------+---+------+------+----------+

In [15]:
# if schems is specified it doesnt need to go look the header or the records
emp_schema = "employee_id int, department_id int, name string, age int, gender string, salary string, hire_date string"
df_schema = spark.read.format("csv").schema(emp_schema).\
            option("header", False).load("data/input/employee_data.csv")


# important to specify c=schma of file resdinf sprk itslef will read wihch will cause probems when it reads data fom mutple sources

In [16]:
df_schema.show()

+-----------+-------------+-----------+----+------+------+----------+
|employee_id|department_id|       name| age|gender|salary| hire_date|
+-----------+-------------+-----------+----+------+------+----------+
|       NULL|         NULL|       name|NULL|gender|salary| hire_date|
|          1|          101| Jane Smith|  25|Female| 45000|2016-02-15|
|          2|          102|  Bob Brown|  35|  Male| 55000|2014-01-10|
|          3|          101|  Alice Lee|  30|Female| 48000|2018-05-21|
|          4|          103| Jack Chang|  40|  Male| 60000|2013-04-01|
|          5|          102|  Jill Wong|  28|Female| 50000|2017-01-05|
|          6|          101| James Hong|  34|  Male| 52000|2016-07-15|
|          7|          102|   Kate Kim|  29|Female| 51000|2019-08-01|
|          8|          103|    Tom Tan|  36|  Male| 58000|2015-12-01|
|          9|          101|   Lisa Lee|  27|Female| 47000|2017-11-01|
|         10|          104| David Park|  38|  Male| 59000|2014-06-01|
|         11|          105| Susan Chen|  33|Female| 56000|2016-03-01|
|         12|          103|  Brian Kim|  41|  Male| 60000|2012-09-01|
|         13|          107|  Emily Lee|  32|Female| 46000|2019-04-01|
|         14|          106|Michael Lee|  29|  Male| 53000|2018-01-01|
|         15|          108|Kelly Zhang|  31|Female| 54000|2017-06-01|
|         16|          109|George Wang|  35|  Male| 57000|2015-03-01|
|         17|          108|  Nancy Liu|  28|Female| 52000|2020-05-01|
|         19|          107|Steven Chen|  30|  Male| 55000|2018-03-01|
|         20|          102|  Grace Kim|  32|Female| 53000|2018-11-01|
+-----------+-------------+-----------+----+------+------+----------+

In [17]:
# if schems is specified it doesnt need to go look the header or the records
emp_schema = "employee_id int, department_id int, name string, age int, gender string, salary string, hire_date string"
df_schema = spark.read.format("csv").schema(emp_schema).\
            option("header", True).load("data/input/employee_data.csv")


# important to specify c=schma of file resdinf sprk itslef will read wihch will cause probems when it reads data fom mutple sources

In [18]:
df_schema.show()

+-----------+-------------+-----------+---+------+------+----------+
|employee_id|department_id|       name|age|gender|salary| hire_date|
+-----------+-------------+-----------+---+------+------+----------+
|          1|          101| Jane Smith| 25|Female| 45000|2016-02-15|
|          2|          102|  Bob Brown| 35|  Male| 55000|2014-01-10|
|          3|          101|  Alice Lee| 30|Female| 48000|2018-05-21|
|          4|          103| Jack Chang| 40|  Male| 60000|2013-04-01|
|          5|          102|  Jill Wong| 28|Female| 50000|2017-01-05|
|          6|          101| James Hong| 34|  Male| 52000|2016-07-15|
|          7|          102|   Kate Kim| 29|Female| 51000|2019-08-01|
|          8|          103|    Tom Tan| 36|  Male| 58000|2015-12-01|
|          9|          101|   Lisa Lee| 27|Female| 47000|2017-11-01|
|         10|          104| David Park| 38|  Male| 59000|2014-06-01|
|         11|          105| Susan Chen| 33|Female| 56000|2016-03-01|
|         12|          103|  Brian Kim| 41|  Male| 60000|2012-09-01|
|         13|          107|  Emily Lee| 32|Female| 46000|2019-04-01|
|         14|          106|Michael Lee| 29|  Male| 53000|2018-01-01|
|         15|          108|Kelly Zhang| 31|Female| 54000|2017-06-01|
|         16|          109|George Wang| 35|  Male| 57000|2015-03-01|
|         17|          108|  Nancy Liu| 28|Female| 52000|2020-05-01|
|         19|          107|Steven Chen| 30|  Male| 55000|2018-03-01|
|         20|          102|  Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-----------+---+------+------+----------+

In [27]:
# Handling Bad Records

# Using Permsissive   _ Default Mode ---- > stores in  new column called corrupt_record

emp_schema = "employee_id int, department_id int, name string, age int, gender string, salary string, hire_date string"
df_permissive = spark.read.format("csv").schema(emp_schema).option("header", True).load("data/input/emp_data.csv")

In [30]:
df_permissive.printSchema()
df_permissive.show()

root
 |-- employee_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|          1|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|          2|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|          3|          102|    Bob Brown| 35|  Male| 55000|2014-01-10|
|          4|          101|    Alice Lee| 30|Female| 48000|2018-05-21|
|          5|          103|    Jack Chan| 40|  Male|   Low|2013-04-01|
|          6|          102|    Jill Wong| 28|Female| 50000|    nodate|
|          7|          103|James Johnson| 34|  Male| 52000|2016-07-15|
|          8|          102|     Kate Kim| 29|Female|   Low|    nodate|
|          9|          103|      Tom Tan| 36|  Male| 58000|2015-12-01|
|         10|          104|     Lisa Lee| 27|Female| 47000|2017-11-01|
|         11|          105|   David Park| 38|  Male| 59000|    nodate|
|         12|          103|   Susan Chen| 33|Female| 56000|2016-03-01|
|         13|          103|    Brian Doe| 41|  Male|   Low|2012-09-01|
|         14|          107|    Emily Lee| 32|Female| 46000|2019-04-01|
|         15|          106|  Michael Lee| 29|  Male| 53000|2018-01-01|
|         16|          108|  Kelly Zhang| 31|Female| 54000|2017-06-01|
|         17|          109|  George Wang| 35|  Male| 57000|2015-03-01|
|         18|          108|    Nancy Liu| 28|Female| 52000|    nodate|
|         19|          107|  Steven Chen| 30|  Male|   Low|2018-03-01|
|         20|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [33]:
# Handling Bad Records

# Using Permsissive   _ Default Mode ---- > stores in  new column called corrupt_record

#here shows null

emp_schema = "employee_id int, department_id int, name string, age int, gender string, salary double, hire_date date"
df_permissive_null = spark.read.format("csv").schema(emp_schema).option("header", True).load("data/input/emp_data.csv")

In [34]:
df_permissive_null.printSchema()
df_permissive_null.show()

root
 |-- employee_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- hire_date: date (nullable = true)

+-----------+-------------+-------------+---+------+-------+----------+
|employee_id|department_id|         name|age|gender| salary| hire_date|
+-----------+-------------+-------------+---+------+-------+----------+
|          1|          101|     John Doe| 30|  Male|50000.0|2015-01-01|
|          2|          101|   Jane Smith| 25|Female|45000.0|2016-02-15|
|          3|          102|    Bob Brown| 35|  Male|55000.0|2014-01-10|
|          4|          101|    Alice Lee| 30|Female|48000.0|2018-05-21|
|          5|          103|    Jack Chan| 40|  Male|   NULL|2013-04-01|
|          6|          102|    Jill Wong| 28|Female|50000.0|      NULL|
|          7|          103|James Johnson| 34|  Male|52000.0|2016-07-15|
|          8|          102|     Kate Kim| 29|Female|   NULL|      NULL|
|          9|          103|      Tom Tan| 36|  Male|58000.0|2015-12-01|
|         10|          104|     Lisa Lee| 27|Female|47000.0|2017-11-01|
|         11|          105|   David Park| 38|  Male|59000.0|      NULL|
|         12|          103|   Susan Chen| 33|Female|56000.0|2016-03-01|
|         13|          103|    Brian Doe| 41|  Male|   NULL|2012-09-01|
|         14|          107|    Emily Lee| 32|Female|46000.0|2019-04-01|
|         15|          106|  Michael Lee| 29|  Male|53000.0|2018-01-01|
|         16|          108|  Kelly Zhang| 31|Female|54000.0|2017-06-01|
|         17|          109|  George Wang| 35|  Male|57000.0|2015-03-01|
|         18|          108|    Nancy Liu| 28|Female|52000.0|      NULL|
|         19|          107|  Steven Chen| 30|  Male|   NULL|2018-03-01|
|         20|          102|    Grace Kim| 32|Female|53000.0|2018-11-01|
+-----------+-------------+-------------+---+------+-------+----------+

In [37]:
# Handling Bad Records

# Using Permsissive   _ Default Mode ---- > stores in  new column called corrupt_record

#here shows null

emp_schema = "employee_id int, department_id int, name string, age int, gender string, salary double, hire_date date, _corrupt_record string"
df_permissive_null_cr = spark.read.format("csv").schema(emp_schema).option("header", True).load("data/input/emp_data.csv")

In [39]:
df_permissive_null_cr.printSchema()
df_permissive_null_cr.show()

root
 |-- employee_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- _corrupt_record: string (nullable = true)

+-----------+-------------+-------------+---+------+-------+----------+--------------------+
|employee_id|department_id|         name|age|gender| salary| hire_date|     _corrupt_record|
+-----------+-------------+-------------+---+------+-------+----------+--------------------+
|          1|          101|     John Doe| 30|  Male|50000.0|2015-01-01|                NULL|
|          2|          101|   Jane Smith| 25|Female|45000.0|2016-02-15|                NULL|
|          3|          102|    Bob Brown| 35|  Male|55000.0|2014-01-10|                NULL|
|          4|          101|    Alice Lee| 30|Female|48000.0|2018-05-21|                NULL|
|          5|          103|    Jack Chan| 40|  Male|   NULL|2013-04-01|005,103,Jack Chan...|
|          6|          102|    Jill Wong| 28|Female|50000.0|      NULL|006,102,Jill Wong...|
|          7|          103|James Johnson| 34|  Male|52000.0|2016-07-15|                NULL|
|          8|          102|     Kate Kim| 29|Female|   NULL|      NULL|008,102,Kate Kim,...|
|          9|          103|      Tom Tan| 36|  Male|58000.0|2015-12-01|                NULL|
|         10|          104|     Lisa Lee| 27|Female|47000.0|2017-11-01|                NULL|
|         11|          105|   David Park| 38|  Male|59000.0|      NULL|011,105,David Par...|
|         12|          103|   Susan Chen| 33|Female|56000.0|2016-03-01|                NULL|
|         13|          103|    Brian Doe| 41|  Male|   NULL|2012-09-01|013,103,Brian Doe...|
|         14|          107|    Emily Lee| 32|Female|46000.0|2019-04-01|                NULL|
|         15|          106|  Michael Lee| 29|  Male|53000.0|2018-01-01|                NULL|
|         16|          108|  Kelly Zhang| 31|Female|54000.0|2017-06-01|                NULL|
|         17|          109|  George Wang| 35|  Male|57000.0|2015-03-01|                NULL|
|         18|          108|    Nancy Liu| 28|Female|52000.0|      NULL|018,108,Nancy Liu...|
|         19|          107|  Steven Chen| 30|  Male|   NULL|2018-03-01|019,107,Steven Ch...|
|         20|          102|    Grace Kim| 32|Female|53000.0|2018-11-01|                NULL|
+-----------+-------------+-------------+---+------+-------+----------+--------------------+

In [43]:
#how to identify corrupt records
df_permissive_null_cr.where("_corrupt_record is not null").show()

+-----------+-------------+-----------+---+------+-------+----------+--------------------+
|employee_id|department_id|       name|age|gender| salary| hire_date|     _corrupt_record|
+-----------+-------------+-----------+---+------+-------+----------+--------------------+
|          5|          103|  Jack Chan| 40|  Male|   NULL|2013-04-01|005,103,Jack Chan...|
|          6|          102|  Jill Wong| 28|Female|50000.0|      NULL|006,102,Jill Wong...|
|          8|          102|   Kate Kim| 29|Female|   NULL|      NULL|008,102,Kate Kim,...|
|         11|          105| David Park| 38|  Male|59000.0|      NULL|011,105,David Par...|
|         13|          103|  Brian Doe| 41|  Male|   NULL|2012-09-01|013,103,Brian Doe...|
|         18|          108|  Nancy Liu| 28|Female|52000.0|      NULL|018,108,Nancy Liu...|
|         19|          107|Steven Chen| 30|  Male|   NULL|2018-03-01|019,107,Steven Ch...|
+-----------+-------------+-----------+---+------+-------+----------+--------------------+

In [46]:
#provide own columns names


emp_schema = "employee_id int, department_id int, name string, age int, gender string, salary double, hire_date date, bad_record string"
df_permissive_null_bad_rec= spark.read.format("csv").schema(emp_schema).option("columnNameOfCorruptRecord", "bad_record").option("header", True).load("data/input/emp_data.csv")

In [47]:
df_permissive_null_bad_rec.printSchema()
df_permissive_null_bad_rec.show()

root
 |-- employee_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- bad_record: string (nullable = true)

+-----------+-------------+-------------+---+------+-------+----------+--------------------+
|employee_id|department_id|         name|age|gender| salary| hire_date|          bad_record|
+-----------+-------------+-------------+---+------+-------+----------+--------------------+
|          1|          101|     John Doe| 30|  Male|50000.0|2015-01-01|                NULL|
|          2|          101|   Jane Smith| 25|Female|45000.0|2016-02-15|                NULL|
|          3|          102|    Bob Brown| 35|  Male|55000.0|2014-01-10|                NULL|
|          4|          101|    Alice Lee| 30|Female|48000.0|2018-05-21|                NULL|
|          5|          103|    Jack Chan| 40|  Male|   NULL|2013-04-01|005,103,Jack Chan...|
|          6|          102|    Jill Wong| 28|Female|50000.0|      NULL|006,102,Jill Wong...|
|          7|          103|James Johnson| 34|  Male|52000.0|2016-07-15|                NULL|
|          8|          102|     Kate Kim| 29|Female|   NULL|      NULL|008,102,Kate Kim,...|
|          9|          103|      Tom Tan| 36|  Male|58000.0|2015-12-01|                NULL|
|         10|          104|     Lisa Lee| 27|Female|47000.0|2017-11-01|                NULL|
|         11|          105|   David Park| 38|  Male|59000.0|      NULL|011,105,David Par...|
|         12|          103|   Susan Chen| 33|Female|56000.0|2016-03-01|                NULL|
|         13|          103|    Brian Doe| 41|  Male|   NULL|2012-09-01|013,103,Brian Doe...|
|         14|          107|    Emily Lee| 32|Female|46000.0|2019-04-01|                NULL|
|         15|          106|  Michael Lee| 29|  Male|53000.0|2018-01-01|                NULL|
|         16|          108|  Kelly Zhang| 31|Female|54000.0|2017-06-01|                NULL|
|         17|          109|  George Wang| 35|  Male|57000.0|2015-03-01|                NULL|
|         18|          108|    Nancy Liu| 28|Female|52000.0|      NULL|018,108,Nancy Liu...|
|         19|          107|  Steven Chen| 30|  Male|   NULL|2018-03-01|019,107,Steven Ch...|
|         20|          102|    Grace Kim| 32|Female|53000.0|2018-11-01|                NULL|
+-----------+-------------+-------------+---+------+-------+----------+--------------------+

In [50]:
# Handling Bad Records

# Using Dropmalformed   -> drops malformed records

emp_schema = "employee_id int, department_id int, name string, age int, gender string, salary double, hire_date date"
df_malformed = spark.read.format("csv").schema(emp_schema).option("mode","dropMalformed").option("header", True).load("data/input/emp_data.csv")

In [51]:
df_malformed.printSchema()
df_malformed.show()

root
 |-- employee_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- hire_date: date (nullable = true)

+-----------+-------------+-------------+---+------+-------+----------+
|employee_id|department_id|         name|age|gender| salary| hire_date|
+-----------+-------------+-------------+---+------+-------+----------+
|          1|          101|     John Doe| 30|  Male|50000.0|2015-01-01|
|          2|          101|   Jane Smith| 25|Female|45000.0|2016-02-15|
|          3|          102|    Bob Brown| 35|  Male|55000.0|2014-01-10|
|          4|          101|    Alice Lee| 30|Female|48000.0|2018-05-21|
|          7|          103|James Johnson| 34|  Male|52000.0|2016-07-15|
|          9|          103|      Tom Tan| 36|  Male|58000.0|2015-12-01|
|         10|          104|     Lisa Lee| 27|Female|47000.0|2017-11-01|
|         12|          103|   Susan Chen| 33|Female|56000.0|2016-03-01|
|         14|          107|    Emily Lee| 32|Female|46000.0|2019-04-01|
|         15|          106|  Michael Lee| 29|  Male|53000.0|2018-01-01|
|         16|          108|  Kelly Zhang| 31|Female|54000.0|2017-06-01|
|         17|          109|  George Wang| 35|  Male|57000.0|2015-03-01|
|         20|          102|    Grace Kim| 32|Female|53000.0|2018-11-01|
+-----------+-------------+-------------+---+------+-------+----------+

In [52]:
# Handling Bad Records
# Using FailFast   ---> Throws exception

emp_schema = "employee_id int, department_id int, name string, age int, gender string, salary double, hire_date date"
df_failfast = spark.read.format("csv").schema(emp_schema).option("mode","failFast").option("header", True).load("data/input/emp_data.csv")

In [53]:
df_failfast.printSchema()
df_failfast.show()

root
 |-- employee_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- hire_date: date (nullable = true)

25/05/20 15:12:50 ERROR Executor: Exception in task 0.0 in stage 20.0 (TID 20)
org.apache.spark.SparkException: [MALFORMED_RECORD_IN_PARSING.WITHOUT_SUGGESTION] Malformed records are detected in record parsing: [5,103,Jack Chan,40,Male,null,15796].
Parse Mode: FAILFAST. To process malformed records as null result, try setting the option 'mode' as 'PERMISSIVE'.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.malformedRecordsDetectedInRecordParsingError(QueryExecutionErrors.scala:1611)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:79)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$2(UnivocityParser.scala:457)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:131)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.sql.catalyst.util.BadRecordException: java.lang.NumberFormatException: For input string: "Low"
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:366)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$parse$2(UnivocityParser.scala:308)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$1(UnivocityParser.scala:453)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:60)
	... 26 more
Caused by: java.lang.NumberFormatException: For input string: "Low"
	at java.base/jdk.internal.math.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:2054)
	at java.base/jdk.internal.math.FloatingDecimal.parseDouble(FloatingDecimal.java:110)
	at java.base/java.lang.Double.parseDouble(Double.java:543)
	at scala.collection.immutable.StringLike.toDouble(StringLike.scala:327)
	at scala.collection.immutable.StringLike.toDouble$(StringLike.scala:327)
	at scala.collection.immutable.StringOps.toDouble(StringOps.scala:33)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$12(UnivocityParser.scala:208)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.nullSafeDatum(UnivocityParser.scala:292)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$11(UnivocityParser.scala:204)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:347)
	... 29 more
25/05/20 15:12:50 WARN TaskSetManager: Lost task 0.0 in stage 20.0 (TID 20) (172.18.0.1 executor driver): org.apache.spark.SparkException: [MALFORMED_RECORD_IN_PARSING.WITHOUT_SUGGESTION] Malformed records are detected in record parsing: [5,103,Jack Chan,40,Male,null,15796].
Parse Mode: FAILFAST. To process malformed records as null result, try setting the option 'mode' as 'PERMISSIVE'.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.malformedRecordsDetectedInRecordParsingError(QueryExecutionErrors.scala:1611)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:79)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$2(UnivocityParser.scala:457)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:131)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.sql.catalyst.util.BadRecordException: java.lang.NumberFormatException: For input string: "Low"
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:366)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$parse$2(UnivocityParser.scala:308)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$1(UnivocityParser.scala:453)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:60)
	... 26 more
Caused by: java.lang.NumberFormatException: For input string: "Low"
	at java.base/jdk.internal.math.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:2054)
	at java.base/jdk.internal.math.FloatingDecimal.parseDouble(FloatingDecimal.java:110)
	at java.base/java.lang.Double.parseDouble(Double.java:543)
	at scala.collection.immutable.StringLike.toDouble(StringLike.scala:327)
	at scala.collection.immutable.StringLike.toDouble$(StringLike.scala:327)
	at scala.collection.immutable.StringOps.toDouble(StringOps.scala:33)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$12(UnivocityParser.scala:208)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.nullSafeDatum(UnivocityParser.scala:292)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$11(UnivocityParser.scala:204)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:347)
	... 29 more

25/05/20 15:12:50 ERROR TaskSetManager: Task 0 in stage 20.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling o624.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 20.0 failed 1 times, most recent failure: Lost task 0.0 in stage 20.0 (TID 20) (172.18.0.1 executor driver): org.apache.spark.SparkException: [MALFORMED_RECORD_IN_PARSING.WITHOUT_SUGGESTION] Malformed records are detected in record parsing: [5,103,Jack Chan,40,Male,null,15796].
Parse Mode: FAILFAST. To process malformed records as null result, try setting the option 'mode' as 'PERMISSIVE'.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.malformedRecordsDetectedInRecordParsingError(QueryExecutionErrors.scala:1611)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:79)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$2(UnivocityParser.scala:457)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:131)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.sql.catalyst.util.BadRecordException: java.lang.NumberFormatException: For input string: "Low"
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:366)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$parse$2(UnivocityParser.scala:308)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$1(UnivocityParser.scala:453)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:60)
	... 26 more
Caused by: java.lang.NumberFormatException: For input string: "Low"
	at java.base/jdk.internal.math.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:2054)
	at java.base/jdk.internal.math.FloatingDecimal.parseDouble(FloatingDecimal.java:110)
	at java.base/java.lang.Double.parseDouble(Double.java:543)
	at scala.collection.immutable.StringLike.toDouble(StringLike.scala:327)
	at scala.collection.immutable.StringLike.toDouble$(StringLike.scala:327)
	at scala.collection.immutable.StringOps.toDouble(StringOps.scala:33)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$12(UnivocityParser.scala:208)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.nullSafeDatum(UnivocityParser.scala:292)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$11(UnivocityParser.scala:204)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:347)
	... 29 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:989)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2393)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2414)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2433)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4333)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3316)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4323)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4321)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4321)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3316)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3539)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:280)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:315)
	at jdk.internal.reflect.GeneratedMethodAccessor80.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.SparkException: [MALFORMED_RECORD_IN_PARSING.WITHOUT_SUGGESTION] Malformed records are detected in record parsing: [5,103,Jack Chan,40,Male,null,15796].
Parse Mode: FAILFAST. To process malformed records as null result, try setting the option 'mode' as 'PERMISSIVE'.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.malformedRecordsDetectedInRecordParsingError(QueryExecutionErrors.scala:1611)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:79)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$2(UnivocityParser.scala:457)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:131)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
Caused by: org.apache.spark.sql.catalyst.util.BadRecordException: java.lang.NumberFormatException: For input string: "Low"
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:366)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$parse$2(UnivocityParser.scala:308)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$1(UnivocityParser.scala:453)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:60)
	... 26 more
Caused by: java.lang.NumberFormatException: For input string: "Low"
	at java.base/jdk.internal.math.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:2054)
	at java.base/jdk.internal.math.FloatingDecimal.parseDouble(FloatingDecimal.java:110)
	at java.base/java.lang.Double.parseDouble(Double.java:543)
	at scala.collection.immutable.StringLike.toDouble(StringLike.scala:327)
	at scala.collection.immutable.StringLike.toDouble$(StringLike.scala:327)
	at scala.collection.immutable.StringOps.toDouble(StringOps.scala:33)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$12(UnivocityParser.scala:208)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.nullSafeDatum(UnivocityParser.scala:292)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$11(UnivocityParser.scala:204)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:347)
	... 29 more

In [ ]:
#multiple options