In [1]:
from pyspark.sql import SparkSession
spark = (SparkSession.\
         builder.\
         appName("Sorting and Agregation").\
         master("local[*]").\
         getOrCreate()
        )

25/05/17 10:10:22 WARN Utils: Your hostname, oem-Lenovo-G50-80 resolves to a loopback address: 127.0.1.1; using 192.168.0.121 instead (on interface wlp3s0)
25/05/17 10:10:22 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/17 10:10:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [10]:
emp_data_1 = [
    ["001", "101", "John Doe", "30", "Male", "50000", "2015-01-01"],
    ["002", "101", "Jane Smith", "25", "Female", "45000", "2016-02-15"],
    ["003", "101", "Bob Brown", "35", "Male", "55000", "2014-01-10"],
    ["004", "101", "Alice Lee", "29", "Female", "48000", "2013-04-01"],
    ["005", "102", "Jack Chan", "40", "Male", "60000", "2013-04-01"],
    ["006", "102", "Jill Wong", "32", "Female", "52000", "2018-07-01"],
    ["007", "102", "James Johnson", "42", "Male", "70000", "2012-03-15"],
    ["008", "102", "Kate Kim", "29", "Female", "51000", "2019-10-01"],
    ["009", "103", "Tom Tan", "34", "Male", "50000", "2016-06-01"],
    ["010", "103", "Lisa Lee", "27", "Female", "47000", "2018-08-01"]
]


emp_data_2 = [
    ["011", "104", "David Park", "38", "Male", "65000", "2015-11-01"],
    ["012", "105", "Susan Chen", "31", "Female", "54000", "2017-02-15"],
    ["013", "106", "Brian Lim", "45", "Male", "75000", "2011-09-01"],
    ["014", "106", "Emily Lee", "28", "Female", "53000", "2017-03-01"],
    ["015", "106", "Michael Kee", "36", "Male", "62000", "2014-06-01"],
    ["016", "107", "Kelly Zhang", "29", "Female", "49000", "2018-04-01"],
    ["017", "108", "George Wang", "34", "Male", "60000", "2015-03-01"],
    ["018", "108", "Nancy Liu", "30", "Female", "52000", "2016-01-01"],
    ["019", "109", "Steven Chen", "37", "Male", "62000", "2015-08-01"],
    ["020", "102", "Grace Kim", "32", "Female", "53000", "2018-11-01"]
]

In [11]:
emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [12]:
emp_schema

'employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string'

In [8]:
emp1.printSchema()

NameError: name 'emp1' is not defined

In [13]:
#create dataframes

emp1 = spark.createDataFrame(data = emp_data_1, schema=emp_schema)
emp2 = spark.createDataFrame(data = emp_data_2, schema=emp_schema)

In [14]:
emp1.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [15]:
emp2.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [22]:
#union an dunionall   #same schema
#union : unique or dstinct records 
#same schema but diffrent column sequence still we can do union of it
emp_final = emp1.union(emp2)

In [23]:
emp_final.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          101|    Bob Brown| 35|  Male| 55000|2014-01-10|
|        004|          101|    Alice Lee| 29|Female| 48000|2013-04-01|
|        005|          102|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          102|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          102|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 34|  Male| 50000|2016-06-01|
|        010|          103|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Lim| 45|  Male| 75000|2011-09-01|
|        014|          106|    Emily Lee| 28|Female| 53000|2017-03-01|
|        015|          106|  Michael Kee| 36|  Male| 62000|2014-06-01|
|        016|          107|  Kelly Zhang| 29|Female| 49000|2018-04-01|
|        017|          108|  George Wang| 34|  Male| 60000|2015-03-01|
|        018|          108|    Nancy Liu| 30|Female| 52000|2016-01-01|
|        019|          109|  Steven Chen| 37|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [20]:
#union all
#keepa duplicates 
#deprecated
emp_final1 = emp1.unionAll(emp2)

In [21]:
emp_final1.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          101|    Bob Brown| 35|  Male| 55000|2014-01-10|
|        004|          101|    Alice Lee| 29|Female| 48000|2013-04-01|
|        005|          102|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          102|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          102|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 34|  Male| 50000|2016-06-01|
|        010|          103|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Lim| 45|  Male| 75000|2011-09-01|
|        014|          106|    Emily Lee| 28|Female| 53000|2017-03-01|
|        015|          106|  Michael Kee| 36|  Male| 62000|2014-06-01|
|        016|          107|  Kelly Zhang| 29|Female| 49000|2018-04-01|
|        017|          108|  George Wang| 34|  Male| 60000|2015-03-01|
|        018|          108|    Nancy Liu| 30|Female| 52000|2016-01-01|
|        019|          109|  Steven Chen| 37|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+