In [1]:
from pyspark.sql import SparkSession
spark = (
        SparkSession.
        builder.
        appName("Spark Learning").
        master("local[*]").
        getOrCreate()     

)
spark.sparkContext.setLogLevel("ERROR")

25/05/14 14:19:04 WARN Utils: Your hostname, oem-Lenovo-G50-80 resolves to a loopback address: 127.0.1.1; using 192.168.0.121 instead (on interface wlp3s0)
25/05/14 14:19:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/14 14:19:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
spark

In [ ]:
emp_data = [
    ["001", "101", "Jane Smith", "25", "Female", "45000", "2016-02-15"],
    ["002", "102", "Bob Brown", "35", "Male", "55000", "2014-01-10"],
    ["003", "101", "Alice Lee", "30", "Female", "48000", "2018-05-21"],
    ["004", "103", "Jack Chang", "40", "Male", "60000", "2013-04-01"],
    ["005", "102", "Jill Wong", "28", "Female", "50000", "2017-01-05"],
    ["006", "101", "James Hong", "34", "Male", "52000", "2016-07-15"],
    ["007", "102", "Kate Kim", "29", "Female", "51000", "2019-08-01"],
    ["008", "103", "Tom Tan", "36", "Male", "58000", "2015-12-01"],
    ["009", "101", "Lisa Lee", "27", "Female", "47000", "2017-11-01"],
    ["010", "104", "David Park", "38", "Male", "59000", "2014-06-01"],
    ["011", "105", "Susan Chen", "33", "Female", "56000", "2016-03-01"],
    ["012", "103", "Brian Kim", "41", "Male", "60000", "2012-09-01"],
    ["013", "107", "Emily Lee", "32", "Female", "46000", "2019-04-01"],
    ["014", "106", "Michael Lee", "29", "Male", "53000", "2018-01-01"],
    ["015", "108", "Kelly Zhang", "31", "Female", "54000", "2017-06-01"],
    ["016", "109", "George Wang", "35", "Male", "57000", "2015-03-01"],
    ["017", "108", "Nancy Liu", "28", "Female", "52000", "2020-05-01"],
    ["019", "107", "Steven Chen", "30", "Male", "55000", "2018-03-01"],
    ["020", "102", "Grace Kim", "32", "Female", "53000", "2018-11-01"]
]
emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [ ]:
#dataframe
emp = spark.createDataFrame(data = emp_data, schema = emp_schema)

In [ ]:
emp

In [ ]:
#no of partitions

emp.rdd.getNumPartitions()

In [7]:
#spark data(ACTION)   responsible for creating jobs  

emp.show()

+-----------+-------------+-----------+---+------+------+----------+
|employee_id|department_id|       name|age|gender|salary| hire_date|
+-----------+-------------+-----------+---+------+------+----------+
|        001|          101| Jane Smith| 25|Female| 45000|2016-02-15|
|        002|          102|  Bob Brown| 35|  Male| 55000|2014-01-10|
|        003|          101|  Alice Lee| 30|Female| 48000|2018-05-21|
|        004|          103| Jack Chang| 40|  Male| 60000|2013-04-01|
|        005|          102|  Jill Wong| 28|Female| 50000|2017-01-05|
|        006|          101| James Hong| 34|  Male| 52000|2016-07-15|
|        007|          102|   Kate Kim| 29|Female| 51000|2019-08-01|
|        008|          103|    Tom Tan| 36|  Male| 58000|2015-12-01|
|        009|          101|   Lisa Lee| 27|Female| 47000|2017-11-01|
|        010|          104| David Park| 38|  Male| 59000|2014-06-01|
|        011|          105| Susan Chen| 33|Female| 56000|2016-03-01|
|        012|          103|  Brian Kim| 41|  Male| 60000|2012-09-01|
|        013|          107|  Emily Lee| 32|Female| 46000|2019-04-01|
|        014|          106|Michael Lee| 29|  Male| 53000|2018-01-01|
|        015|          108|Kelly Zhang| 31|Female| 54000|2017-06-01|
|        016|          109|George Wang| 35|  Male| 57000|2015-03-01|
|        017|          108|  Nancy Liu| 28|Female| 52000|2020-05-01|
|        019|          107|Steven Chen| 30|  Male| 55000|2018-03-01|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-----------+---+------+------+----------+

In [8]:
#first transformation

emp_final = emp.where("salary > 50000")

In [9]:
emp_final.show()

+-----------+-------------+-----------+---+------+------+----------+
|employee_id|department_id|       name|age|gender|salary| hire_date|
+-----------+-------------+-----------+---+------+------+----------+
|        002|          102|  Bob Brown| 35|  Male| 55000|2014-01-10|
|        004|          103| Jack Chang| 40|  Male| 60000|2013-04-01|
|        006|          101| James Hong| 34|  Male| 52000|2016-07-15|
|        007|          102|   Kate Kim| 29|Female| 51000|2019-08-01|
|        008|          103|    Tom Tan| 36|  Male| 58000|2015-12-01|
|        010|          104| David Park| 38|  Male| 59000|2014-06-01|
|        011|          105| Susan Chen| 33|Female| 56000|2016-03-01|
|        012|          103|  Brian Kim| 41|  Male| 60000|2012-09-01|
|        014|          106|Michael Lee| 29|  Male| 53000|2018-01-01|
|        015|          108|Kelly Zhang| 31|Female| 54000|2017-06-01|
|        016|          109|George Wang| 35|  Male| 57000|2015-03-01|
|        017|          108|  Nancy Liu| 28|Female| 52000|2020-05-01|
|        019|          107|Steven Chen| 30|  Male| 55000|2018-03-01|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-----------+---+------+------+----------+

In [10]:
#validate the paritions

emp_final.rdd.getNumPartitions()

4

In [11]:
#write data to csv

emp_final.write.format("csv").save("data/output/1/emp.csv")

AnalysisException: [PATH_ALREADY_EXISTS] Path file:/home/oem/pyspark_Basic_Advance/data/output/1/emp.csv already exists. Set mode as "overwrite" to overwrite the existing path.

In [ ]:
#spark follows lzy evaluation the tranforamtions only will work when we use action ,spark uses ui to understand what happening in background
#spark also provides interactive shell to start wokring with spark

In [ ]:
#view schema
emp.printSchema()

In [ ]:
emp.schema

In [ ]:
from pyspark.sql.types import StringType, StructField, StructType, IntegerType
schema_string  = "name string, age int"
schema_spark = StructType([
                StructField('name', StringType(), True), 
                StructField('age', IntegerType(), True)
])

In [ ]:
#df has two parts : columns and rows

#df columns and expressions

# we can  select manupulate remove add columns  on df and this is  operations called expressions

#rows : data


#to call a column explicityly we need to use expr , col from pysqpar.sql.functions module

In [ ]:
from pyspark.sql.functions import col,expr
emp.salary

In [ ]:
emp["salary"]

In [ ]:
#select from employee
#select employee_id, name, age, salary from emp

emp_filtered = emp.select(col("employee_id"),col("age"),col("name"),col("salary"))

In [ ]:
spark

In [ ]:
emp_filtered.show()

In [ ]:
emp_casted = emp.select(expr("employee_id as emp_id"), emp.name, expr("cast(age as int) as age"), emp.salary)

In [ ]:
emp_casted.show()

In [ ]:
emp_casted.printSchema()

In [ ]:
emp_casted.schema

In [ ]:
emp_casted1 = emp.selectExpr("employee_id as emp_id", "name", "cast(age as int) as age")

In [ ]:
emp_casted1.show()

In [ ]:
emp_casted1.printSchema

In [ ]:
emp_casted1.printSchema()

In [ ]:
emp_final = emp_casted.select("emp_id", "name", "age", "salary").where("age > 30")

In [ ]:
emp_final_filter = emp_casted.select("emp_id", "name", "age", "salary").where("salary > 30000")

In [ ]:
emp_final.show()

emp_final_filter.show()

In [ ]:
#write to csv
emp_final.write.format("csv").\
    mode("overwrite").\
    save("data/output/2/empfilteredage")

In [ ]:
schema_str  = "name string"
from pyspark.sql.types import _parse_datatype_string
schema_spark = _parse_datatype_string(schema_str)

In [ ]:
schema_spark

In [ ]:
schema_str

In [12]:
#casting columns
#select employee_id, name, age, salary where salary is double
from pyspark.sql.functions import col
emp_casted_salary_double = emp.select("employee_id","name", "age", col("salary").cast("double"))

## emp_casted_salary_double.show()   #action  tiggers execution jobs : UI there will be jobs stages howna lso in sql /dataframe queires

In [14]:
emp_casted_salary_double.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- salary: double (nullable = true)

In [16]:
#add column salary is salary *0.2

emp_taxed = emp_casted_salary_double.withColumn("salary_taxed",col("salary") * 0.2)

In [17]:
emp_taxed.show()

+-----------+-----------+---+-------+------------+
|employee_id|       name|age| salary|salary_taxed|
+-----------+-----------+---+-------+------------+
|        001| Jane Smith| 25|45000.0|      9000.0|
|        002|  Bob Brown| 35|55000.0|     11000.0|
|        003|  Alice Lee| 30|48000.0|      9600.0|
|        004| Jack Chang| 40|60000.0|     12000.0|
|        005|  Jill Wong| 28|50000.0|     10000.0|
|        006| James Hong| 34|52000.0|     10400.0|
|        007|   Kate Kim| 29|51000.0|     10200.0|
|        008|    Tom Tan| 36|58000.0|     11600.0|
|        009|   Lisa Lee| 27|47000.0|      9400.0|
|        010| David Park| 38|59000.0|     11800.0|
|        011| Susan Chen| 33|56000.0|     11200.0|
|        012|  Brian Kim| 41|60000.0|     12000.0|
|        013|  Emily Lee| 32|46000.0|      9200.0|
|        014|Michael Lee| 29|53000.0|     10600.0|
|        015|Kelly Zhang| 31|54000.0|     10800.0|
|        016|George Wang| 35|57000.0|     11400.0|
|        017|  Nancy Liu| 28|52000.0|     10400.0|
|        019|Steven Chen| 30|55000.0|     11000.0|
|        020|  Grace Kim| 32|53000.0|     10600.0|
+-----------+-----------+---+-------+------------+

In [22]:
from pyspark.sql.functions import lit
emp_new_cols = emp.withColumn("ColumnOne",lit(1)).withColumn("columntwo",lit("two"))

In [23]:
emp_new_cols.show()

+-----------+-------------+-----------+---+------+------+----------+---------+---------+
|employee_id|department_id|       name|age|gender|salary| hire_date|ColumnOne|columntwo|
+-----------+-------------+-----------+---+------+------+----------+---------+---------+
|        001|          101| Jane Smith| 25|Female| 45000|2016-02-15|        1|      two|
|        002|          102|  Bob Brown| 35|  Male| 55000|2014-01-10|        1|      two|
|        003|          101|  Alice Lee| 30|Female| 48000|2018-05-21|        1|      two|
|        004|          103| Jack Chang| 40|  Male| 60000|2013-04-01|        1|      two|
|        005|          102|  Jill Wong| 28|Female| 50000|2017-01-05|        1|      two|
|        006|          101| James Hong| 34|  Male| 52000|2016-07-15|        1|      two|
|        007|          102|   Kate Kim| 29|Female| 51000|2019-08-01|        1|      two|
|        008|          103|    Tom Tan| 36|  Male| 58000|2015-12-01|        1|      two|
|        009|          101|   Lisa Lee| 27|Female| 47000|2017-11-01|        1|      two|
|        010|          104| David Park| 38|  Male| 59000|2014-06-01|        1|      two|
|        011|          105| Susan Chen| 33|Female| 56000|2016-03-01|        1|      two|
|        012|          103|  Brian Kim| 41|  Male| 60000|2012-09-01|        1|      two|
|        013|          107|  Emily Lee| 32|Female| 46000|2019-04-01|        1|      two|
|        014|          106|Michael Lee| 29|  Male| 53000|2018-01-01|        1|      two|
|        015|          108|Kelly Zhang| 31|Female| 54000|2017-06-01|        1|      two|
|        016|          109|George Wang| 35|  Male| 57000|2015-03-01|        1|      two|
|        017|          108|  Nancy Liu| 28|Female| 52000|2020-05-01|        1|      two|
|        019|          107|Steven Chen| 30|  Male| 55000|2018-03-01|        1|      two|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|        1|      two|
+-----------+-------------+-----------+---+------+------+----------+---------+---------+

In [24]:
emp_new_cols.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)
 |-- ColumnOne: integer (nullable = false)
 |-- columntwo: string (nullable = false)

In [25]:
emp_renamed = emp_new_cols.withColumnRenamed("employee_id", "emp_id")

In [26]:
emp_renamed.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)
 |-- ColumnOne: integer (nullable = false)
 |-- columntwo: string (nullable = false)

In [27]:
# columns with spaces

emp_Col_spaces = emp_new_cols.withColumnRenamed("employee_id", "emp id")

In [28]:
emp_Col_spaces.printSchema()

root
 |-- emp id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)
 |-- ColumnOne: integer (nullable = false)
 |-- columntwo: string (nullable = false)

In [29]:
emp_Col_spaces = emp_new_cols.withColumnRenamed("employee_id", "emp_id")

In [30]:
emp_Col_spaces.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)
 |-- ColumnOne: integer (nullable = false)
 |-- columntwo: string (nullable = false)

In [31]:

emp_Col_spaces = emp_new_cols.withColumnRenamed("columnone", "column one")

In [32]:
emp_Col_spaces.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)
 |-- column one: integer (nullable = false)
 |-- columntwo: string (nullable = false)

In [39]:

emp_Col_spaces = emp_new_cols.withColumnRenamed("columnone", "column one")

In [40]:
emp_new_cols.show()

+-----------+-------------+-----------+---+------+------+----------+---------+---------+
|employee_id|department_id|       name|age|gender|salary| hire_date|ColumnOne|columntwo|
+-----------+-------------+-----------+---+------+------+----------+---------+---------+
|        001|          101| Jane Smith| 25|Female| 45000|2016-02-15|        1|      two|
|        002|          102|  Bob Brown| 35|  Male| 55000|2014-01-10|        1|      two|
|        003|          101|  Alice Lee| 30|Female| 48000|2018-05-21|        1|      two|
|        004|          103| Jack Chang| 40|  Male| 60000|2013-04-01|        1|      two|
|        005|          102|  Jill Wong| 28|Female| 50000|2017-01-05|        1|      two|
|        006|          101| James Hong| 34|  Male| 52000|2016-07-15|        1|      two|
|        007|          102|   Kate Kim| 29|Female| 51000|2019-08-01|        1|      two|
|        008|          103|    Tom Tan| 36|  Male| 58000|2015-12-01|        1|      two|
|        009|          101|   Lisa Lee| 27|Female| 47000|2017-11-01|        1|      two|
|        010|          104| David Park| 38|  Male| 59000|2014-06-01|        1|      two|
|        011|          105| Susan Chen| 33|Female| 56000|2016-03-01|        1|      two|
|        012|          103|  Brian Kim| 41|  Male| 60000|2012-09-01|        1|      two|
|        013|          107|  Emily Lee| 32|Female| 46000|2019-04-01|        1|      two|
|        014|          106|Michael Lee| 29|  Male| 53000|2018-01-01|        1|      two|
|        015|          108|Kelly Zhang| 31|Female| 54000|2017-06-01|        1|      two|
|        016|          109|George Wang| 35|  Male| 57000|2015-03-01|        1|      two|
|        017|          108|  Nancy Liu| 28|Female| 52000|2020-05-01|        1|      two|
|        019|          107|Steven Chen| 30|  Male| 55000|2018-03-01|        1|      two|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|        1|      two|
+-----------+-------------+-----------+---+------+------+----------+---------+---------+

In [45]:
#remove columns

emp_drop_datframe = emp_new_cols.drop("columnone","columntwo")

In [46]:
emp_drop_datframe.show()

+-----------+-------------+-----------+---+------+------+----------+
|employee_id|department_id|       name|age|gender|salary| hire_date|
+-----------+-------------+-----------+---+------+------+----------+
|        001|          101| Jane Smith| 25|Female| 45000|2016-02-15|
|        002|          102|  Bob Brown| 35|  Male| 55000|2014-01-10|
|        003|          101|  Alice Lee| 30|Female| 48000|2018-05-21|
|        004|          103| Jack Chang| 40|  Male| 60000|2013-04-01|
|        005|          102|  Jill Wong| 28|Female| 50000|2017-01-05|
|        006|          101| James Hong| 34|  Male| 52000|2016-07-15|
|        007|          102|   Kate Kim| 29|Female| 51000|2019-08-01|
|        008|          103|    Tom Tan| 36|  Male| 58000|2015-12-01|
|        009|          101|   Lisa Lee| 27|Female| 47000|2017-11-01|
|        010|          104| David Park| 38|  Male| 59000|2014-06-01|
|        011|          105| Susan Chen| 33|Female| 56000|2016-03-01|
|        012|          103|  Brian Kim| 41|  Male| 60000|2012-09-01|
|        013|          107|  Emily Lee| 32|Female| 46000|2019-04-01|
|        014|          106|Michael Lee| 29|  Male| 53000|2018-01-01|
|        015|          108|Kelly Zhang| 31|Female| 54000|2017-06-01|
|        016|          109|George Wang| 35|  Male| 57000|2015-03-01|
|        017|          108|  Nancy Liu| 28|Female| 52000|2020-05-01|
|        019|          107|Steven Chen| 30|  Male| 55000|2018-03-01|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-----------+---+------+------+----------+

In [52]:
#filter 
emp_tax_greater = emp_drop_datframe.select("employee_id","name","age","salary").filter("salary> 5000")

In [53]:
emp_tax_greater.show()

+-----------+-----------+---+------+
|employee_id|       name|age|salary|
+-----------+-----------+---+------+
|        001| Jane Smith| 25| 45000|
|        002|  Bob Brown| 35| 55000|
|        003|  Alice Lee| 30| 48000|
|        004| Jack Chang| 40| 60000|
|        005|  Jill Wong| 28| 50000|
|        006| James Hong| 34| 52000|
|        007|   Kate Kim| 29| 51000|
|        008|    Tom Tan| 36| 58000|
|        009|   Lisa Lee| 27| 47000|
|        010| David Park| 38| 59000|
|        011| Susan Chen| 33| 56000|
|        012|  Brian Kim| 41| 60000|
|        013|  Emily Lee| 32| 46000|
|        014|Michael Lee| 29| 53000|
|        015|Kelly Zhang| 31| 54000|
|        016|George Wang| 35| 57000|
|        017|  Nancy Liu| 28| 52000|
|        019|Steven Chen| 30| 55000|
|        020|  Grace Kim| 32| 53000|
+-----------+-----------+---+------+

In [54]:
emp_limit = emp_drop_datframe.select("employee_id","name","age","salary").filter("salary> 5000").limit(5)

In [55]:
emp_limit.show()

+-----------+----------+---+------+
|employee_id|      name|age|salary|
+-----------+----------+---+------+
|        001|Jane Smith| 25| 45000|
|        002| Bob Brown| 35| 55000|
|        003| Alice Lee| 30| 48000|
|        004|Jack Chang| 40| 60000|
|        005| Jill Wong| 28| 50000|
+-----------+----------+---+------+

In [56]:
emp_tax_greater.show(2)

+-----------+----------+---+------+
|employee_id|      name|age|salary|
+-----------+----------+---+------+
|        001|Jane Smith| 25| 45000|
|        002| Bob Brown| 35| 55000|
+-----------+----------+---+------+
only showing top 2 rows

In [62]:
#adding multiple columns
#salary, static column 1 , third lit 3
columns = {
         "tax" : col("salary")* 0.2,
         "columnone" : lit(1),
         "columntwo" : lit(2)
}

    
emp_add_columns = emp.withColumns(columns)

In [63]:
emp_add_columns.show()

+-----------+-------------+-----------+---+------+------+----------+-------+---------+---------+
|employee_id|department_id|       name|age|gender|salary| hire_date|    tax|columnone|columntwo|
+-----------+-------------+-----------+---+------+------+----------+-------+---------+---------+
|        001|          101| Jane Smith| 25|Female| 45000|2016-02-15| 9000.0|        1|        2|
|        002|          102|  Bob Brown| 35|  Male| 55000|2014-01-10|11000.0|        1|        2|
|        003|          101|  Alice Lee| 30|Female| 48000|2018-05-21| 9600.0|        1|        2|
|        004|          103| Jack Chang| 40|  Male| 60000|2013-04-01|12000.0|        1|        2|
|        005|          102|  Jill Wong| 28|Female| 50000|2017-01-05|10000.0|        1|        2|
|        006|          101| James Hong| 34|  Male| 52000|2016-07-15|10400.0|        1|        2|
|        007|          102|   Kate Kim| 29|Female| 51000|2019-08-01|10200.0|        1|        2|
|        008|          103|    Tom Tan| 36|  Male| 58000|2015-12-01|11600.0|        1|        2|
|        009|          101|   Lisa Lee| 27|Female| 47000|2017-11-01| 9400.0|        1|        2|
|        010|          104| David Park| 38|  Male| 59000|2014-06-01|11800.0|        1|        2|
|        011|          105| Susan Chen| 33|Female| 56000|2016-03-01|11200.0|        1|        2|
|        012|          103|  Brian Kim| 41|  Male| 60000|2012-09-01|12000.0|        1|        2|
|        013|          107|  Emily Lee| 32|Female| 46000|2019-04-01| 9200.0|        1|        2|
|        014|          106|Michael Lee| 29|  Male| 53000|2018-01-01|10600.0|        1|        2|
|        015|          108|Kelly Zhang| 31|Female| 54000|2017-06-01|10800.0|        1|        2|
|        016|          109|George Wang| 35|  Male| 57000|2015-03-01|11400.0|        1|        2|
|        017|          108|  Nancy Liu| 28|Female| 52000|2020-05-01|10400.0|        1|        2|
|        019|          107|Steven Chen| 30|  Male| 55000|2018-03-01|11000.0|        1|        2|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|10600.0|        1|        2|
+-----------+-------------+-----------+---+------+------+----------+-------+---------+---------+

In [ ]:
#case when
#select emloyee_id, name, age, gender
#  acse when gender  = male then m when gender = female then f else null end as ne gwnder, hire date



from pyspark.sql.functions import when, col

emp_new_gender = emp.withColumn(
    "new_gender",
    when(col("gender") == "Male", "M")
    .when(col("gender") == "Female", "F")
    .otherwise(None)
)

In [ ]:
emp_new_gender.show(5)